.search {
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  border-radius: 30px;
}

.link {
  color: $gray;
}

.logo {
  width: 9rem;
}

.logo-white{
  width: 7.8rem;
}

.logo-header {
  width: 70px;
}

.text-logo {
  color: $blue;
  font-size: 34px;
  font-family: $font-family-logo;
  font-weight: 600;
}

.arrow {
  width: 25px;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.scroll-loading {
  height: 300px;
}

.content-box {
  background-color: $white;
  text-align: center;
  padding: 40px 50px;
  box-shadow: 1px 4px 9px -4px $black;
  top: 20%;
  position: absolute;
  width: 24rem;
}

.col-product:hover {
  box-shadow: 0 3px 13px rgb(0 0 0 / 11%) !important;
  //padding: 20px;
}

.content-layout {
  padding: 0 30px;
}

.product-details {
  position: relative;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 6px;
  padding: 30px;
  border: 2px solid #f2f3f5;
}

.top-bar-text {
  margin: 0.6em 1em;
}

.circle{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.icon-category{
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
