@import 'variables';

body {
  background-color: $blue;
  font-family: $font-family-main;
  font-weight: 700;
}

header {
  box-shadow: none !important;
  height: 100px;
}

header div {
  height: 100px !important;
  padding: 4px 50px !important;
}

p {
  color: $darkmode_color-text;
}

h2 {
  color: $darkmode_color-text;
  margin-bottom: 20px;
}

.background {
  background: linear-gradient($white 50%, $blue 0%);
  height: 100vh;
}

.content-box {
  background-color: $white;
  color: $white;
  text-align: center;
  width: 375px;
  padding: 40px 50px;
  box-shadow: 1px 4px 9px -4px $black;
  top: 20%;
  position: absolute;
}

.btn {
  width: 100%;
  margin-top: 40px !important;
  background-color: $blue !important;
  color: $white !important;
  font-weight: 800 !important;
  height: 42px !important;
}

.link {
  color: $gray;
}

.logo {
  width: 140px;
}

.logo-header {
  width: 70px;
}

.text-logo {
  color: $blue;
  font-size: 34px;
  font-family: $font-family-logo;
  font-weight: 600;
}

.arrow {
  width: 25px;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.scroll-loading {
  height: 300px;
}

.cursor-pointer {
  cursor: pointer;
}
