body {
  background-color: $blue;
  font-family: $font-family-main;
  font-weight: 700;
}

header {
  box-shadow: none !important;
  height: 100px;
}

header div {
  height: 100px !important;
  padding: 4px 50px !important;
}

p {
  color: $darkmode_color-text;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  color: $darkmode_color-text;
  margin-bottom: 20px;
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.bg-linear-gradient {
  background: linear-gradient($white 50%, $blue 0%);
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.bg-gray {
  background-color: $gray-light;
}

.bg-white {
  background-color: $white;
}

.fb-50 {
  flex-basis: 50%;
}
